node_modules/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.env
dist/
build/
.DS_Store
npm-debug.log
yarn-error.log
coverage/
.idea/
*.log

# Temporary branch protection templates
branch-protection*.json
